@tailwind base;
@tailwind components;

.input {
    @apply bg-gray-100 shadow-inner focus:ring-2  focus:ring-green-600 focus:ring-opacity-90 focus:outline-none py-3 px-5 rounded-lg;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
}

.link {
    --tw-text-opacity: 1;
    color: rgba(101, 163, 13, var(--tw-text-opacity));
}

.link:hover {
    text-decoration: underline;
}

.btn {
    --tw-bg-opacity: 1;
    background-color: rgba(101, 163, 13, var(--tw-bg-opacity));
}
 
.btn:hover {
    --tw-bg-opacity: 1;
    background-color: rgba(77, 124, 15, var(--tw-bg-opacity));
}
 
.btn {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.75rem;
}
 
.btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
@tailwind utilities;