@tailwind base;
@tailwind components;

.input {
    @apply bg-gray-100 shadow-inner focus:ring-2  focus:ring-green-600 focus:ring-opacity-90 focus:outline-none py-3 px-5 rounded-lg;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1536px;
}

.link {
    --tw-text-opacity: 1;
    color: rgba(101, 163, 13, var(--tw-text-opacity));
}

.link:hover {
    text-decoration: underline;
}

@tailwind utilities;